<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--PC KANTOR MIFTAH-->
		<!--<add connectionString="Server=.\SQLEXPRESS;Database=shutters;Uid=miftah;Password=developer*25" name="DefaultConnection" providerName="System.Data.SqlClient"/>-->
		
		<!--PC KANTOR REZA-->
		<add connectionString="Server=.\SQLEXPRESS;Database=shutters;Uid=miftah;Password=developer*25" name="DefaultConnection" providerName="System.Data.SqlClient" />
		<!--LAPTOP-->
		<!--<add connectionString="Server=.\;Database=lifestyle;Uid=rap;Password=230296;" name="DefaultConnection" providerName="System.Data.SqlClient" />-->
		<!--ONLINE-->
		<!--<add connectionString="Server=.\MSSQLSERVER2019;Database=shutters;Uid=shutters;Password=g7#51mH4e;" name="DefaultConnection" providerName="System.Data.SqlClient" />-->
		
		<!--ONLINE LS TO SP-->
		<!--<add connectionString="Server=202.74.70.124\MSSQLSERVER2019;Database=shutters;Uid=shutters;Password=g7#51mH4e;" name="DefaultConnection" providerName="System.Data.SqlClient" />-->
		
		<!--ONLINE DEMO-->
		<!--<add name="DefaultConnection" connectionString="Server=202.74.70.124\MSSQLSERVER2019;Database=demo_ls;Uid=lifestyle;Password=c4b8^Z8x5;" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
		<customErrors mode="Off" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
			</controls>
		</pages>
	</system.web>
	
	<system.webServer>
		<httpErrors errorMode="Custom">
			<!-- 400 - Bad Request -->
			<remove statusCode="400" />
			<error statusCode="400" path="/System/400.aspx" responseMode="ExecuteURL" />
			<!-- 401 - Unauthorized -->
			<remove statusCode="401" />
			<error statusCode="401" path="/System/401.aspx" responseMode="ExecuteURL" />
			<!-- 403 - Forbidden -->
			<remove statusCode="403" />
			<!-- <error statusCode="403" path="/System/403.aspx" responseMode="ExecuteURL"/> -->
			<!-- 404 - Not Found -->
			<remove statusCode="404" />
			<error statusCode="404" path="/System/404.aspx" responseMode="ExecuteURL" />
			<!-- 408 - Request Timeout -->
			<remove statusCode="408" />
			<error statusCode="408" path="/System/408.aspx" responseMode="ExecuteURL" />
			<!-- 409 - Conflict -->
			<remove statusCode="409" />
			<error statusCode="409" path="/System/409.aspx" responseMode="ExecuteURL" />
			<!-- 415 - Unsupported Media Type -->
			<remove statusCode="415" />
			<error statusCode="415" path="/System/415.aspx" responseMode="ExecuteURL" />
			<!-- 500 - Internal Server Error -->
			<remove statusCode="500" />
			<error statusCode="500" path="/System/500.aspx" responseMode="ExecuteURL" />
			<!-- 502 - Bad Gateway -->
			<remove statusCode="502" />
			<error statusCode="502" path="/System/502.aspx" responseMode="ExecuteURL" />
			<!-- 503 - Service Unavailable -->
			<remove statusCode="503" />
			<error statusCode="503" path="/System/503.aspx" responseMode="ExecuteURL" />
			<!-- 504 - Gateway Timeout -->
			<remove statusCode="504" />
			<error statusCode="504" path="/System/504.aspx" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>